
/************************
Navigation Bar CSS 
************************/

/* nav {
  padding: 0 40px;
  background:#E59D89;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

nav ul a, nav a, nav .brand-logo {
  color: #164964;
} */

/* Side Nav */

/* .sidenav, .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a, .sidenav li>a {
color: #164964 !important;
background-color: #E59D89 !important;
} */