/************************ 
Index CSS
************************/

body {
  background: #ff8781;
  margin:0;
  padding: 0; 
 }

.page {
  /* margin: 3.125rem; */
}

.button {
/* background-color: #e59d89; */
color: #4B575A;
margin: 0.25rem;
font-size: 1.25rem;
font-family: 'Josefin Sans', sans-serif;
padding-top: .15rem;
}

h1, h2, h3, h4, h5, hr, p {
font-family: 'Josefin Sans', sans-serif;
color: white;

}

#boldP {
font-weight: bold;
text-align:center;
font-family: 'Aleo', serif;
margin-top: -2.8rem;
margin-left: -2.8rem;
margin-right: -2.8rem;
color: #689F38;
}

/************************
Navigation Bar CSS 
************************/ 
nav {
  padding-left: 2em;
  padding-right: 2em;
  background: linear-gradient(50deg, HSLA(43, 95%, 59%, 1), #689f38);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  width: 101%;
}

nav li:target {
  background-color: black;
}

/* Side Nav */
.sidenav, .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a, .sidenav li>a {
  background-color: #FAC134 !important;
  font-family: 'Josefin Sans', sans-serif;
}  

/************************ 
  Home Page styling 
************************/

/**********************
  Hero Sub Section of Home Page
**********************/
.text-shadow-pop-bl {
	-webkit-animation: text-shadow-pop-bl 1.5s both;
	        animation: text-shadow-pop-bl 1.5s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-17 9:25:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-bl
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-bl {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}

/**********************/

.words {
  margin-top: 40px;
}

.indent {
  text-indent: 50px !important;
}

.home-margin {
  margin-top: 75px !important;
}

#surata {
  border-radius: 30%;
  height: 400px;
  width: auto;
  margin-bottom: 5%;
}

.home-image {    
  border-radius: 30%;
  height: 400px;
  width: 500px;
  /* width: 30rem; */
  /* margin-top: -30rem;
  margin-bottom: 4rem;
  margin-left: 325%; */
} 

#bkgOne {
  background-color: #1266b6;
    position: static;
  width: 100vw;
  padding-bottom: 100px;
}

#bkgTwo {
  background-color: #689f38;
    position: static;
    width: 100vw;
    margin-top: -25px;
    padding-bottom: 100px;
}

#bkgThree {
  background-color: #fac134;
  position: static;
  width: 100vw;
  padding-bottom: 100px;
  margin-top: -25px;
}

/************************
   Sign In styling 
************************/
#signImage {
  width: 100vw;
  margin-top: -3.1rem;
}

.form-group {
  margin-left: 5.5em;
}

.form-label, .form-input, #username.form-input {
  color: white !important;
}

.lihdr {
  margin-left: 2.5em;
}

.linBtn {
  margin-left: 4.5em;
}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
  color: white !important;
  opacity: 1;
}

/* customImageTag {
  width: 100vw;
  height: 20%;
} */
/* 
button:focus {
  outline: none;
  background-color: #e59d89;
}




#noAuth {
  margin-top: .5rem;
  margin-bottom: 3.5rem;
} */

/************************ 
  My Goals styling 
************************/

/* Goal Image */

#goalImage {
  /* width: 42.666rem; */
  margin-top: -3.1rem;
}

.goal-child {
  /* position: absolute; */
  margin-top: -5.5rem;
  /* left: -5rem; */
  margin-left: 5.5rem;
  right: auto;
  font-family: 'Josefin Sans', sans-serif;
  color:white;
}

.goal-quote {
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 4rem;
  margin-right: .75rem;
  right: auto;
  left: .85rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}

/* Goals styling */

.blue {
  background-color: #689f38!important;
}

.blue.lighten-4 {
  background-color: #fac134 !important;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small, .btn-floating.disabled, .btn-large.disabled, .btn-small.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-small:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-small:disabled, .btn-flat:disabled, .btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], .btn-large[disabled], .btn-small[disabled], .btn-flat[disabled] {
  background-color: #7a7376 !important;
  color: #4b575A !important;
}

.button-gold {
  background-color: #FAC134;
  color: #4B575A;
  margin: 0.25rem;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: .15rem;

  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

#containerGoal {
  padding:1.25rem;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #FAC134;
  font-family: 'Aleo', serif;
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FAC134;
  -webkit-box-shadow: 0 1px 0 0 #FAC134;
  box-shadow: 0 1px 0 0 #FAC134;
} 

/* .popup {
  width: 400px;
  height: 400px;
  background: #689f38;
  border-radius: 50%;
  position:absolute;
  top: 8%;
  right: 40%;
  margin: 0 auto;
  z-index: 99 !important;
}  */

/* .hidden {
  display: none; 
} */

/* Goal List styling */

.goal-list {
  border: 2px solid #689f38;
  padding: 0rem 0.625rem;
  margin: 1.25rem 0.625rem;
} 

/* Task Form styling */

.goal {
  border: 0.125rem solid #689f38;
  padding: 0.313rem;
  /* margin: 20px 0px; */
 } 

/* Collapsible styling */

.collapse {
  display: none
}

.collapse.in {
  display: block
}

.determinate {
  width: 0;
  transition: width 1s ease-in-out;
  padding: .5rem;
  position: relative;
  color: #fff;
  text-align: right;
  white-space: nowrap;
}

.progress {
  min-height: 2.25rem;
  overflow: hidden;
  position: relative;
}

/************************
   My Plan Styling 
************************/

span, a {
 color: white !important;
}

.Calendar {
  background-color: #ff8781;
  border: 0.25px solid #fac134 !important;
}

.rbc-day-bg + .rbc-day-bg {
  border: 0.25px solid #fac134 !important;
}

.rbc-off-range-bg {
  background: #6CA038 !important;
  
}

.rbc-today {
  background-color: #fac134 !important;
}

.rbc-toolbar {
  color: white !important;
}

.rbc-toolbar button {
  border: 0.25px solid #fac134 !important;
  font-family: 'Josefin Sans', sans-serif;
  color: white !important;
}

.rbc-header + .rbc-header {
  border: 0.25px solid #fac134 !important;
}

.rbc-month-view , .rbc-header, .rbc-month-row ,
.rbc-time-content, .rbc-time-header, .rbc-overflowing, .rbc-day-slot, .rbc-time-slot,
.rbc-time-view, .rbc-timeslot-group, .rbc-time-header-content, 
.rbc-agenda-view table.rbc-agenda-table {
  border: 0.25px solid #fac134 !important;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus, button.rbc-active {
  background-color: #fac134 !important;
}

.rbc-event {
  background-color: #fac134 !important;
  color: white !important;
}

.rbc-time-content > * + * > * {
  border: 0.25px solid #fac134 !important;
}

/************************
   My Time styling 
************************/

.carousel-root {
  margin-bottom: -350px;
}

.carousel .slide {
  background: #FAC134;
  margin-bottom: 0px;
}

.car-img {
  /* border-radius: 400px; */
  max-width: 50% !important;
  margin-left: 20rem;
}
.button-pom {
  background-color: #8fc870;
  color: #4B575A;
  margin: 0.25rem;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: .15rem;
  
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.pom-pad {
  padding-left: 1rem;
   padding-top: .25rem;
}

#timeChild {
  position: absolute;
  margin-top: -5.5rem;
  margin-left: 5.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

#timeImage {
  margin-top: -3.1rem;
}

.time-quote {
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 1rem;
  margin-right: 30rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}

.timer {
  font-size: 100px;
  margin-left: -5rem;
}

.gif {
  margin-left: 4.25rem;
}

/************************
   My Soul styling 
************************/

/* css breathCircle */

#breathCircle {
  width: 6.25rem;
height: 6.25rem;
border-radius: 50%;
  padding: 20px;
  margin: -30rem auto auto auto;
  border: 1px solid #fff;
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  font-size: 24px;
  background: #fff;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;    
  }


@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

25% {
  -webkit-transform: scale(2);
  transform: scale(2);
}

60% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

25% {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

60% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

100% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
}

/* #breathCircle {
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0;
  background: white;
  border-radius: 50%;
  margin: -30rem auto auto auto;
} */

.dynamic {
  color: #23282F;
  margin: 0 auto;
}

.fade {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#songOptions {
  text-align:center;
}

#soulImage {
  /* width: 42.666rem; */
  margin-top: -3.1rem;
}

.parent {
  position: relative;
}

.button-child {
    position: absolute;
    margin-top: -2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #4B575A;
}

.child {
  position: absolute;
  margin-top: -5.5rem;
  margin-left: 5.5rem;
  /* left: auto;
  right: -8.5rem; */
  font-family: 'Josefin Sans', sans-serif;
  /* color: #164964; */
}

.quote {
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 7.813rem;
  right: .75rem;
  left: 0.938rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}

.test {
  margin-top: 3.188rem;
}

/************************ 
  @Media set up
************************/
/* 
@media screen and (max-width: 1440px) {
  .time-quote {
    margin-right: 22.3rem;
  }
}

@media screen and (max-width: 1024px) {
 .goal-quote {
   margin-top:-1rem;
  }

  .homeImage {    
    border-radius: 30%;
  }
  
  #homeText {
    margin-right: 25rem;
  }

 .time-image {
  margin-top: -3.15rem;
  height: 90%;
  width: 90%;
  }
 
 .time-quote {
  margin-top: 1rem;
  margin-right: 5.1rem;
  padding: .75rem;
  }

  .time-child {
    position: absolute;
    margin-top: -6.5rem;
    left: 13rem;
    right: -15rem;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(189, 198, 201);
  }

  .gif {
      margin-left: -22rem;
      margin-top: 10rem;
  }
}
*/
@media screen and (max-width: 768px) {
 .indent {
   text-indent: 5px !important;
   font-size: 1em;
 } 
}
  
  /* .brand-logo {
    display: none !important;
  }
  
  .child {
    color: #e27d60;
 }
  
  .goal-quote {
    margin-top:-5rem;
  }

  .goal-child {
    left: 2rem;
    right: auto;
  }

  .homeImage {    
    border-radius: 30%;
    }
  
  #homeText {
    margin-right: 20rem;
  }

  .time-child {
    position: absolute;
    margin-top: -5.5rem;
    left: auto;
    right: -6rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .time-quote {
    margin-right: 4.8rem;
  }
}
   
@media screen and (max-width: 425px) {
     
  #boldP {
    margin: auto;
    width: 75%;
  }

  .button-pom {
    font-size: .95rem;
  }

  .child {
    color: #e27d60;
    right: auto;
    left: 2rem;
  }
  
  .dyn-button {
    margin-left: 10rem;
  }

  .gif {
    margin-bottom: -4rem;
    margin-top: 7rem;
    margin-left: -16rem;
    width: 23rem;
  }

  .goal-child{
    font-size: 3rem;
  }

  .goal-quote, .quote, .time-quote {
      display: none;
    }

  .goal-child {
    left: 1rem;
    right: auto;
    font-size: 2rem;
  }

  .homeImage {    
    border-radius: 30%;
    
  }
  
  #homeText {
    margin-right: 2rem;
  }

  .time-child {
    left: auto;
    right: 5rem;
    font-size: 2rem;
  }
*/

  .page {
    margin: 3.125rem 0.125rem 3.125rem 0.125rem;
  }
 
/*  .timer {
  font-size: 100px;
  margin-left: -7rem;
  }

  .pom-pad {
        padding-left: 0rem;
     padding-top: auto;
  }

  .Calendar {
    position: relative;
  }

} */
