/* .progress .determinate {
  background-color: green !important;
}
.determinate {
  background-color: yellow !important;
} */
/* 
    div , span {
      font-family: "Times New Roman";
      font-size: 16px;
      position: relative;
      margin-top: -4px;
    }
    .price {
      font-size: 34px;
    }
  
    .vcenter {
      display: inline-block;
      float: none;
      horiz-align :right !important;
    }
  
    .border {
      border:solid 0.5px;
    }
  
    .leftmargin{
      margin-left: 10px;
    }
  
    .length
    {
      display: none;
      width: 100%;
    }
  
    .grey
    {
      background-color: darkgray;
    } */
  
    .collapse {
      display: none
    }
  
    .collapse.in {
      display: block
    }
    .determinate {
			width: 0;
			transition: width 1s ease-in-out;
			padding: 8px;
			position: relative;
			color: #fff;
			text-align: right;
			white-space: nowrap;
    }
    .progress {
      min-height: 36px;
      overflow: hidden;
      position: relative;
    }
  