.popup {
  width: 400px;
  height: 400px;
  background: #8fc870;
  border-radius: 50%;
  position:absolute;
  top: 8%;
  right: 40%;
  margin: 0 auto;
  z-index: 99 !important;
}
.hidden {
  display: none; 
}
