/************************
   My Time styling 
************************/
/* 
.buttonPom {
  background-color: #8fc870;
  color: #4B575A;
  margin: 0.25rem;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: .15rem;
  
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.pomPad {
  padding-left: 1rem;
   padding-top: .25rem;
}

.time-child {
  position: absolute;
  margin-top: -6.5rem;
  left: auto;
  right: 7rem;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(189, 198, 201);
}

.time-image {
  margin-top: -3.15rem;
  height: 65%;
  width: 65%;
}

.time-quote {
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 1rem;
  margin-right: 23.5rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}

.timer {
  font-size: 100px;
  margin-left: -5rem;
}

.gif {
  margin-left: 4.25rem;
} */