/************************
   Sign In styling 
************************/

/* button:focus {
  outline: none;
  background-color: #e59d89;
}

.sign-image {
  width: 35rem;
  margin-top: -3rem;
}

#noAuth {
  margin-top: .5rem;
  margin-bottom: 3.5rem;
} */