/************************
   My Soul styling 
************************/
/* 
#breathCircle {
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0;
  background: #85CBC0;
  border-radius: 50%;
  margin: -36rem auto auto auto;
}

.dynamic {
  color: #23282F;
  margin: 0 auto;
}

.fade {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.songOptions {
  text-align:center;
}

.soul-image {
  width: 42.666rem;
  margin-top: -3.15rem;
}

.parent {
  position: relative;
}

.button-child {
    position: absolute;
    margin-top: -2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #4B575A;
}

.child {
  position: absolute;
  margin-top: -5.5rem;
  left: auto;
  right: -8.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #164964;
}

.quote {
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 7.813rem;
  right: .75rem;
  left: 0.938rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}


.test {
  margin-top: 3.188rem;
} */
