
/************************
   My Plan Styling 
************************/
/* 
.Calendar {
    background-color: #e27d60;
    border: 0.25px solid #0a818c !important;
  }
  
  .rbc-day-bg + .rbc-day-bg {
    border: 0.25px solid #0a818c !important;
  }
  
  .rbc-off-range-bg {
    background: #74A9B6 !important;
    
  }
  
  .rbc-today {
    background-color: #deb25c !important;
  }
  
  .rbc-toolbar {
    color: white !important;
  }
  
  .rbc-toolbar button {
    border: 0.25px solid #0a818c !important;
    font-family: 'Josefin Sans', sans-serif;
    color: white !important;
  }
  
  .rbc-header + .rbc-header {
    border: 0.25px solid #0a818c !important;
  }
  
  .rbc-month-view , .rbc-header, .rbc-month-row ,
  .rbc-time-content, .rbc-time-header, .rbc-overflowing, .rbc-day-slot, .rbc-time-slot,
  .rbc-time-view, .rbc-timeslot-group, .rbc-time-header-content, 
  .rbc-agenda-view table.rbc-agenda-table {
    border: 0.25px solid #0a818c !important;
  }
  
  .rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus, button.rbc-active {
    background-color: #DEB25C !important;
  }
  
  .rbc-event {
    background-color: #0a818c !important;
    color: white !important;
  }
  
  
  .rbc-time-content > * + * > * {
    border: 0.25px solid #0a818c !important;
  }
   */