/* Overall stays the same */
body {
  background: #FFF5e8;
 }

html {
  font-family: 'Josefin Sans', sans-serif;
  color: #4B575A;
}

/* Navigation Bar CSS */
nav {
    padding: 0 40px;
    background:#E59D89;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}

nav ul a, nav a {
    color: #164964;
}

.page {
    margin: 3.125rem;
}

.button {
  background: #e59d89;
  color: #4B575A;
  margin: 0.25rem;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: .15rem;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #FF8781;
}

h1, h2, h3, h4, h5, hr {
  font-family: 'Josefin Sans', sans-serif;
  color: #164964;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  color: #164964;
  padding: 0.15rem;
}

.boldP {
  font-weight: bold;
  text-align:center;
  font-family: 'Aleo', serif;
  margin-top: -2.8rem;
  margin-left: -2.8rem;
  margin-right: -2.8rem;
  color: #164964;
}

/* Sign In styling */



/* My Goals styling */


/* Goal Image */

.goal-image {
  width: 52rem;
  margin-top: -4.28rem;
}

.goal-child {
  position: absolute;
  margin-top: -10.5rem;
  left: -10.5rem;
  right: auto;
  font-family: 'Josefin Sans', sans-serif;
  color: #cbad4c;
}

/* Goals styling */

.blue {
  background-color: #b47f89 !important;
}

.blue.lighten-4 {
  background-color: #F6e1A9 !important;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small, .btn-floating.disabled, .btn-large.disabled, .btn-small.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-small:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-small:disabled, .btn-flat:disabled, .btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], .btn-large[disabled], .btn-small[disabled], .btn-flat[disabled] {
  background-color: #7a7376 !important;
  color: #4b575A !important;
}

.buttonGold {
  background: #deb25c;
  color: #4B575A;
  margin: 0.25rem;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: .15rem;
}

.containerGoal {
  padding:1.25rem;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #cbad4c;
  font-family: 'Aleo', serif;
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #cbad4c;
  -webkit-box-shadow: 0 1px 0 0 #cbad4c;
  box-shadow: 0 1px 0 0 #cbad4c;
}


.padding20 {
  padding: 1.25rem !important;
  margin: 1.875rem;
}

.pt10 {
  padding: 0px 10px;
}

/* Goal List styling */

.goalList {
  border: 2px solid #b47f89;
  padding: 0rem 0.625rem;
  margin: 1.25rem 0.625rem;
}

/* Task Form styling */

.goal {
  border: 0.125rem solid green;
  padding: 0.313rem;
  /* margin: 20px 0px; */
}

/* Collapsible styling */

.collapse {
  display: none
}

.collapse.in {
  display: block
}

.determinate {
  width: 0;
  transition: width 1s ease-in-out;
  padding: .5rem;
  position: relative;
  color: #fff;
  text-align: right;
  white-space: nowrap;
}

.progress {
  min-height: 2.25rem;
  overflow: hidden;
  position: relative;
}

/* My Plan Styling */

.Calendar {
  background-color: #e27d60;
  border: 1px solid #0a818c !important;
}

.rbc-day-bg + .rbc-day-bg {
  border: 1px solid #0a818c !important;
}

.rbc-off-range-bg {
  background: #74A9B6 !important;
  
}

.rbc-today {
  background-color: #deb25c !important;
}

.rbc-toolbar button {
  border: 1px solid #0a818c !important;
  font-family: 'Josefin Sans', sans-serif;
  color: #4B575A;
}

.rbc-header + .rbc-header {
  border: 1px solid #0a818c !important;
}

.rbc-month-view , .rbc-header, .rbc-month-row ,
.rbc-time-content, .rbc-time-header, .rbc-overflowing, .rbc-day-slot, .rbc-time-slot,
.rbc-time-view, .rbc-timeslot-group, .rbc-time-header-content, 
.rbc-agenda-view table.rbc-agenda-table {
  border: 1px solid #0a818c !important;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus, button.rbc-active {
  background-color: #DEB25C !important;
}

.rbc-event {
  background-color: #0a818c !important;
  color: #ffcb5c !important;
}


.rbc-time-content > * + * > * {
  border: 1px solid #0a818c !important;
}

/* My Time styling */

.buttonPom {
  background: #8fc870;
  color: #4B575A;
  margin: 0.25rem;
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: .15rem;
}

.time-child {
  position: absolute;
  margin-top: -5.5rem;
  left: -26rem;
  right: auto;
  font-family: 'Josefin Sans', sans-serif;
  color: #e05d55;
}

.time-image {
  width: 42.666rem;
  margin-top: -3.15rem;
}

.time-quote {
  position: absolute;
  margin-top: 10.75rem;
  right: auto;
  left: 0.938rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}

/* My Soul styling */

#breathCircle {
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0;
  background: #85CBC0;
  border-radius: 50%;
  margin: -36rem auto auto auto;
}

.dynamic {
  color: #23282F;
  margin: 0 auto;
}

.fade {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.songOptions {
  text-align:center;
}

.soul-image {
  width: 42.666rem;
  margin-top: -3.15rem;
}

.parent {
  position: relative;
}

.button-child {
    position: absolute;
    margin-top: -2rem;
    /* left: auto; */
    /* right: 225px; */
    font-family: 'Josefin Sans', sans-serif;
    color: #4B575A;
}

.child {
  position: absolute;
  margin-top: -5.5rem;
  left: auto;
  right: -8.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #164964;
}

.quote {
  position: absolute;
  margin-top: 7.813rem;
  right: auto;
  left: 0.938rem;
  padding: .75rem;
  font-family: 'Aleo', serif;
  color: #FFF5e8;
}

.test {
  margin-top: 3.188rem;
}


@media screen and (max-width: 865px) { 
 .child {
   right: 60px;
 }
} 
